body {
    margin: 0;
    background: url('shaastra.jpg') center no-repeat fixed;
    background-size: 100vw 100vh;
}

header {
    background-color: #2a001d;
    overflow: hidden;
    position: fixed;
    width: 100vw;
}

.imglink {
    display: inline;
}

.imglink img {
    height: 40px;
    padding: 10px;
    float: left;
}

a.nav {
    display: inline;
    text-decoration: none;
    float: left;
    font-size: 20px;
    padding: 18.5px;
    color: white;
    font-weight: bold;
    font-family: 'IBM Plex Mono', 'Google Sans Mono', 'PT Mono', 'Space Mono', monospace;
}

a.nav:hover {
    background-color: white;
    color: #2a001d;
}

#lgn, #rgsr {
    display: none;
    font-family: "Google Sans Mono", "Overpass Mono", "IBM Plex Mono", "Space Mono", monospace;
}

fieldset {
    margin: 100px auto;
    padding: 0 10px;
    width: 50%;
    color: white;
    background-image: linear-gradient(to bottom, #1e3967, #480036);
    border: 3px white solid;
}

label {
    display: block;
}

h1 {
    font-family: "Google Sans Mono", "Overpass Mono", "IBM Plex Mono", "Space Mono", monospace;
    text-align: center;
    font-weight: bolder;
}

table.box {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

td {
    padding: 10px 0;
    vertical-align: middle;
}

input {
    padding: 10px;
    width: 90%;
    font-family: "Google Sans Mono", "Overpass Mono", "IBM Plex Mono", "Space Mono", monospace;
}

input[type='checkbox'] {
    float: none;
    display: inline;
    width: 15px;
}

input[type='submit'] {
    width: 100%;
    font-size: 20px;
    background-color: #3a002f; 
    color: white;
    font-weight: bold; 
}

a {
    text-decoration: none;
    color: #ab84b1;
    padding: 10px;
    display: block;
}

footer {
    padding: 25px;
    text-align: center;
    font-family: "Google Sans Mono", "Overpass Mono", "IBM Plex Mono", "Space Mono", monospace;
    font-size: 15px;
    background-color: white;
    font-weight: bold;
    color: #3a002f;
}

